<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>
			{% if layout != "home" %}{{ title }} | {% endif %}Philip Zastrow
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="color-scheme" content="light">
		<link rel="icon" type="image/png" href="/favicon.png">
		<link rel="canonical" href="{{ site_url }}{{ page.url }}">
		<meta name="description" content="Philip Zastrow: Designer, Developer, Web Accessibility Specialist, Writer, Speaker, et al">
		{% render 'head/open-graph' %}
		{% render 'head/preload' %}
		{% render 'head/me' %}
		{% render 'head/feeds' %}
		<link rel="stylesheet" href="/style.css">
	</head>
	<body{% if layout-name %} class="{{layout-name}}"{% endif %}>
		<nav>
			<a href="#main" class="cmp-skip-link">Skip to content</a>
			{% block skip_links %}
			{% endblock %}
		</nav>
		<div class="obj-wrapper">
			{% block header %}
			{% endblock %}
			<main id="main" class="obj-main-content">
				{% block main %}
					{{ content }}
				{% endblock %}
			</main>
			{% block footer %}
				{% render "footer" %}
			{% endblock %}
		</div>
		<!-- Rendered on {{ "now" | date: "%Y-%m-%dT%H:%M:%S", 360 }} -->
	</body>
</html>
