<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>
			{% if layout != "home" %}{{ title }} | {% endif %}Philip Zastrow
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="color-scheme" content="light">
		<link rel="icon" type="image/png" href="/favicon.png">
		<link rel="canonical" href="{{ site_url }}{{ page.url }}">
		<meta name="description" content="Philip Zastrow: Designer, Developer, Web Accessibility Specialist, Writer, Speaker, et al">
		{% render 'head/open-graph' %}
		{% render 'head/preload' %}
		{% render 'head/me' %}
		{% render 'head/feeds' %}
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<nav>
			<a href="#main" class="util-visually-hidden">Skip to content</a>
			{% block skip_links %}
			{% endblock %}
		</nav>
		<div class="obj-page util-surface-transparent">
			<div class="obj-page__head">
				{% include "header" %}
			</div>
			<div class="obj-page__main">
				<main id="main">
					<div class="obj-max-width cmp-main">
						{% block main %}
							{{ content }}
						{% endblock %}
					</div>
				</main>
			</div>
			<div class="obj-page__foot">
				{% render "footer" %}
			</div>
		</div>
		<script src="/scripts.js"></script>
		<!-- Rendered on {{ "now" | date: "%Y-%m-%dT%H:%M:%S", 360 }} -->
	</body>
</html>
