{% assign prefooter = nav.prefooter %}
{% assign primary_nav = nav.primary_nav %}
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="utf-8">
		<title>
			{% if layout != "home" %}{{ title }} {% if pagination.pageNumber %}| Page {{ pagination.pageNumber | plus: 1 }} of {{ pagination.pages.size }} {% endif %}| {% endif %}Philip Zastrow
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="color-scheme" content="light">
		<link rel="icon" type="image/png" href="/favicon.png">
		<link rel="canonical" href="{{ site_url }}{{ page.url }}">
		<meta name="description" content="{% if page.data.preview %}{{page.data.preview}}{% else %}{{ meta_description }}{% endif %}">
		<meta property="og:title" content="{{ title }}">
		{% block og %}
		<meta property="og:image" content="{{ site_url }}/images/og-image.png">
		{% endblock %}
		{% block meta %}
		{% endblock %}
		<meta property="og:url" content="{{ site_url }}">
		{% render 'head/preload' %}
		{% render 'head/me' %}
		{% render 'head/feeds' %}
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<nav aria-label="Skip Link">
			<a href="#main" class="cmp-skip-link">Skip to content</a>
			{% block skip_links %}
			{% endblock %}
		</nav>
		<div class="obj-page util-surface-transparent">
			<div class="obj-page__head">
				{% include "header" %}
			</div>
			<div class="obj-page__main js-main">
				<main id="main" aria-label="Page Content">
					<div class="obj-max-width cmp-main">
						{% block main %}
							{{ content }}
						{% endblock %}
					</div>
				</main>
			</div>
			<div class="obj-page__foot">
				{% include "footer" %}
			</div>
		</div>
		<script src="/scripts.js"></script>
		{% block postscript -%}
		{%- endblock %}
		<!-- Rendered on {{ "now" | date: "%Y-%m-%dT%H:%M:%S", 360 }} -->
	</body>
</html>
