<div class="obj-max-width">
	<footer class="cmp-site-footer js-footer">
		<h2 class="util-visually-hidden" id="prefooter">Additional Pages</h2>
		<nav aria-labelledby="prefooter">
			<ul class="cmp-site-footer__list">
				{% for item in prefooter %}
				<li class="cmp-site-footer__item cmp-site-footer__item--{{ item.name | slugify }}">
					<a href="{{ item.link }}" class="cmp-site-footer__link">{{ item.name }}</a>
				</li>
				{% endfor %}
			</ul>
		</nav>
		<h2 class="util-visually-hidden" id="social_links">Social Media and Personal Links</h2>
		<nav aria-labelledby="social_links">
			<ul class="cmp-social">
				{% for link in footer_links %}
				<li class="cmp-social__item">
					<a href="{{ link.url }}" class="cmp-social__link" rel="me" style="--bg: {{ link.bgcolor }};--color: {{ link.color }};{{ link.alt }}">
						{% capture icon_path %}icons/{{ link.name }}.svg{% endcapture %}
						<div class="cmp-social__link-icon">
							{% include icon_path %}
						</div>
						<div class="cmp-social__link-text">{{ link.text }}</div>
					</a>
				</li>
				{% endfor %}
		</ul>
		</nav>
		<p class="cmp-site-footer__bottom-text"><span>Designed in the&nbsp;browser</span></p>
	</footer>
</div>
