<nav>
	<a {% if pagination.href.previous %} href="{{pagination.href.previous}}{% endif %}" aria-label="Previous Page{% if pagination.href.previous %} Page {{ pagination.pageNumber | minus: 1 }}{% else %} Link Disabled{% endif %}">Previous Page</a>

	Page <strong>{{ pagination.pageNumber | plus: 1 }}</strong> of <strong>{{ pagination.pages.size }}</strong>

	<a {% if pagination.href.next %} href="{{pagination.href.next}}{% endif %}" aria-label="Next Page{% if pagination.href.next %} Page {{ pagination.pageNumber | plus: 1 }}{% else %} Link Disabled{% endif %}">Next Page</a>
</nav>
