<section class="cmp-home-section" aria-labelledby="section-book">
	<header class="cmp-home-section__header">
		<h2 class="cmp-home-section__title" id="section-book">Clearing out the "To Be Read" list</h2>
		<p class="cmp-home-section__subtitle">My most recently finished book.</p>
	</header>
	<div class="obj-home-book">
		{% for book in collections.books limit:1 %}
		<div class="obj-home-book__info">
			<h3 class="cmp-home-section__post-title cmp-home-section__post-title--book">
				<a href="{{ book.url }}" class="cmp-home-section__post-link">{{ book.data.title }}</a>
			</h3>
			<p class="cmp-home-section__post-meta">By {{ book.data.author }}</p>
		</div>
		<div class="obj-home-book__cover">
			{%- capture image -%}
			{%- if book.data.image -%}
				{{- book.data.image -}}
			{%- else -%}
				https://images-us.bookshop.org/ingram/{{ book.data.isbn }}.jpg?height=800
			{%- endif -%}
			{%- endcapture -%}
			<img src="{{ image }}" class="cmp-home-section__post-image" alt=""/>
		</div>
		{% endfor %}
		<div class="obj-home-book__footer">
			<footer class="cmp-home-section__footer">
				<a href="/books" class="cmp-button">Check out my reading list</a>
			</footer>
		</div>
	</div>
</section>
