<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="utf-8">
		<title>
			{% if layout != "home" %}{{ title }} {% if pagination.pageNumber %}| Page {{ pagination.pageNumber | plus: 1 }} of {{ pagination.pages.size }} {% endif %}| {% endif %}Philip Zastrow
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="color-scheme" content="light">
		<link rel="icon" type="image/png" href="/favicon.png">
		<link rel="canonical" href="{{ site_url }}{{ page.url }}">
		<meta name="description" content="{% if page.data.preview %}{{page.data.preview}}{% else %}{{ meta_description }}{% endif %}">
		<meta property="og:title" content="{{ title }}">
		{% block og %}
		<meta property="og:image" content="{{ site_url }}/images/og-image.png">
		{% endblock %}
		<meta property="og:url" content="{{ site_url }}">
		{% render 'head/preload' %}
		{% render 'head/me' %}
		{% render 'head/feeds' %}
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<div class="obj-page util-surface-transparent">
			<div class="cmp-404">
				<div class="cmp-404__content">
					<div class="cmp-404__message">
						<h2 class="cmp-404__heading">Page<br>Missing</h2>
						<a href="/" class="cmp-button">Back to Home</a>
					</div>
				</div>
			</div>
		</div>
		<script src="/scripts.js"></script>
		<!-- Rendered on {{ "now" | date: "%Y-%m-%dT%H:%M:%S", 360 }} -->
	</body>
</html>
