---
layout-name: articles
---
{% layout "default-layout" %}

{%- block skip_links %}
{% endblock -%}

{%- block main %}
{% include 'list-header' %}

{% for article in external_articles %}
	<div class="cmp-list">
		<h2 class="cmp-list__title">
			<a href="{{ article.link }}" class="cmp-list__link" rel="external">
				{{ article.title }}
			</a>
		</h2>
		<ul class="cmp-list__meta">
			<li class="cmp-list__meta-item cmp-list__meta-item--date">
				<time datetime="{{ article.date | date: "%Y-%m-%d", time_zone }}">{{ article.date | date: "%d %B %Y", time_zone }}</time>
			</li>
			<li class="cmp-list__meta-item cmp-list__meta-item--source">
				{{ article.source }}
			</li>
			{% if article.additional_authors %}
				<li class="cmp-list__meta-item cmp-list__meta-item--collaborator">
					Written in collaboration with
					{% for author in article.additional_authors %}
						{{ author }}
					{% endfor %}
				</li>
			{% endif %}
		</ul>
	</div>
{% endfor %}
{% endblock -%}
