---
layout-name: articles
---
{% layout "default-layout" %}

{%- block skip_links %}
{% endblock -%}

{%- block main %}
{% include 'list-header' %}

{% for article in external_articles %}
	<h2>
		<a href="{{ article.link }}" rel="external">
			{{ article.title }}
		</a>
	</h2>
	<p>
		<time datetime="{{ article.date | date: "%Y-%m-%d" }}">{{ article.date | date: "%d %B %Y" }}</time>
		{{ article.source }}
	</p>
	{% if article.additional_authors %}
		<p>
			Written in collaboration with
			{% for author in article.additional_authors %}
				{{ author }}
			{% endfor %}
		</p>
	{% endif %}
{% endfor %}
{% endblock -%}
