---
layout-name: book_list
pagination:
  data: read
  size: 10
  alias: books
permalink: "books/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber | plus: 1 }}/{% endif %}index.html"
---
{% layout "default-layout" %}
{%- block skip_links %}
{% endblock -%}

{%- block main %}
	{% include 'list-header' %}

	{% include 'pagination' %}

	{%- for book in books -%}
		<div class="cmp-list">
			<h2 class="cmp-list__title">
				<a href="/books/{{ book.date | date: '%Y-%m-%d' }}-{{ book.title | slugify }}" class="cmp-list__link">
					{{ book.title }}
				</a>
			</h2>
			<ul class="cmp-list__meta">
				<li class="cmp-list__meta-item">
					By {{ book.author }}
				</li>
				<li class="cmp-list__meta-item cmp-list__meta-item--collaborator">
					Finished on <time datetime="{{ book.date | date: "%Y-%m-%d" }}">{{ book.date | date: "%d %B %Y" }}</time>
				</li>
			</ul>
		</div>
	{% endfor %}

	{% include 'pagination' %}
{% endblock -%}
