---
layout-name: book
---
{% layout "default-layout" %}
{% block main %}
	<article class="cmp-book-page">
		<header class="cmp-book-page__header">
			<h2 class="cmp-book-page__title">
				{{ book.title }}
			</h2>
			<p class="cmp-book-page__author">
				By {{ book.author }}
			</p>
		</header>
		<div class="obj-book-page">
			<div class="obj-book-page__image">
				{%- capture image %}
				{%- if book.image -%}
					{{- book.image -}}
				{%- else -%}
					https://images-us.bookshop.org/ingram/{{ book.isbn }}.jpg
				{%- endif -%}
				{%- endcapture -%}
				<img src="{{ image }}" alt="" class="cmp-book-page__image">
			</div>
			<div class="obj-book-page__content">
				<p class="cmp-book-page__finish-date">
					Finished on <time datetime="{{ book.date | date: "%Y-%m-%d" }}">{{ book.date | date: "%d %B %Y" }}</time>
				</p>
				<div class="cmp-book-page__review">
					{% if book.review %}
					<h3 class="cmp-book-page__review-heading">Review</h3>
					{% endif %}
					<p class="cmp-book-page__rating">
						<span>My Rating</span> {% include "book-rating" %}
					</p>
					{% if book.review %}
						{% markdown %}{{ book.review }}{% endmarkdown %}
					{% endif %}
				</div>
				{%- capture book_slug -%}{{ book.title | slugify }}{%- endcapture -%}
				{%- capture book_search -%}{{ book_slug | replace: '-', '+' }}{%- endcapture -%}
				{% bookshop_link book.isbn, book_search, book.title %}
			</div>
	</article>
{% endblock %}
