---
layout-name: book
---
{% layout "default-layout" %}

{% block main %}
	<article class="cmp-book-page">
		<header class="cmp-book-page__header">
			<h2 class="cmp-book-page__title">
				{{ title }}
			</h2>
			<p class="cmp-book-page__author">
				By {{ author }}
			</p>
		</header>
		<div class="obj-book-page">
			<div class="obj-book-page__image">
				{%- capture book_image %}
				{%- if image -%}
					{{- image -}}
				{%- else -%}
					https://images-us.bookshop.org/ingram/{{ isbn }}.jpg
				{%- endif -%}
				{%- endcapture -%}
				<img src="{{ book_image }}" alt="" class="cmp-book-page__image">
			</div>
			<div class="obj-book-page__content">
				<p class="cmp-book-page__finish-date">
					Finished on <time datetime="{{ date | date: "%Y-%m-%d", time_zone }}">{{ date | date: "%d %B %Y", time_zone }}</time>
				</p>
				<div class="cmp-book-page__review">
					{% if content != blank %}
					<h3 class="cmp-book-page__review-heading">Review</h3>
					{% endif %}
					<p class="cmp-book-page__rating">
						<span>My Rating</span> {% include "book-rating" %}
					</p>
					{% if content != blank %}
						{{ content }}
					{% endif %}
				</div>
				{%- capture book_slug -%}{{ title | slugify }}{%- endcapture -%}
				{%- capture book_search -%}{{ book_slug | replace: '-', '+' }}{%- endcapture -%}
				{% bookshop_link isbn, book_search, title %}
			</div>
	</article>
{% endblock %}
