---
layout-name: micro
permalink: "/micro/{{ date | date: '%Y' }}/{{ date | date: '%m' }}/{{ date | date: '%d' }}/{% if title and title != '' %}{{ title | slugify }}{% else %}{{ slug }}{% endif %}/index.html"
---
{% layout "default-layout" %}

{% block main %}
	<article>
		{%- if title -%}
		<header>
			<h2>
				{{ title }}
			</h2>
		</header>
		{%- endif -%}
		{%- if date -%}
			<a href="{{ url }}">
				<time datetime="{{ date | date: "%Y-%m-%d", time_zone }}">
					{{ date | date: "%d %B %Y", time_zone }}
				</time>
			</a>
		{%- endif -%}
		{{ content }}
	</article>
{% endblock %}
