---
layout-name: micro
permalink: "/micro/{{ date | date: '%Y' }}/{{ date | date: '%m' }}/{{ date | date: '%d' }}/{% if title and title != '' %}{{ title | slugify }}{% else %}{{ slug }}{% endif %}/index.html"
---
{% layout "default-layout" %}
{%- block header %}
	{% include "header" %}
{% endblock -%}
{% block main %}
	<article class="cmp-post cmp-post--micro">
		<div class="cmp-post__container">
			{%- if title -%}
			<header class="cmp-post__header">
				<h2 class="cmp-post__title">
					{{ title }}
				</h2>
			</header>
			{%- endif -%}
			{%- if date -%}
			<div class="cmp-post__meta">
				<a class="cmp-post__meta-link" href="{{ url }}">
					<time datetime="{{ date | date: "%Y-%m-%d" }}" class="cmp-article-item__date">{{ date | date: "%d %B %Y" }}</time>
				</a>
			</div>
			{%- endif -%}
			<div class="cmp-post__content">
				{{ content }}
			</div>
		</div>
	</article>
{% endblock %}
