---
layout-name: micro_list
pagination:
  data: collections.micro
  size: 10
  alias: micro
permalink: "micro/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber | plus: 1 }}/{% endif %}index.html"
---
{% layout "default-layout" %}
{%- block skip_links %}
{% endblock -%}

{%- block main %}
<header>
	<h1 class="cmp-title">{{title}}</h1>
	{{if content}}
	<div>
		{{ content }}
	</div>
	{{end}}
</header>

{% include 'pagination' %}

{%- for post in micro -%}
	<article>
		<header>
			<h2>
				<a href="{{ post.url }}">
					{{ post.data.title }}
				</a>
			</h2>
			<p>
				<time datetime="{{ post.data.date | date: "%Y-%m-%d" }}">
					{{ post.data.date | date: "%d %B %Y" }}
				</time>
			</p>
		</header>
		{{ post.content }}
	</article>
{% endfor %}

{% include 'pagination' %}
{% endblock -%}
