---
layout-name: post_list
pagination:
  data: collections.posts
  size: 10
  alias: posts
permalink: "posts/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber | plus: 1 }}/{% endif %}index.html"
---
{% layout "default-layout" %}

{%- block skip_links %}
{% endblock -%}

{%- block main %}

	{% include 'list-header' %}

	{% include 'pagination' %}

	{%- for post in posts -%}
		<div class="cmp-list">
			<h2 class="cmp-list__title">
				<a href="{{ post.url }}" class="cmp-list__link">
					{{ post.data.title }}
				</a>
			</h2>
			<ul class="cmp-list__meta">
				<li class="cmp-list__meta-item">
					<time datetime="{{ post.data.date | date: "%Y-%m-%d", time_zone }}">
						{{ post.data.date | date: "%d %B %Y", time_zone }}
					</time>
				</li>
			</ul>
			{% if post.data.preview %}
			<p  class="cmp-list__preview">
				{{ post.data.preview }}
			</p>
			{% endif %}
		</div>
	{% endfor %}

	{% include 'pagination' %}
{% endblock -%}
