---
layout-name: post
permalink: "/posts/{{ date | date: '%Y' }}/{{ date | date: '%m' }}/{{ date | date: '%d' }}/{% if title and title != '' %}{{ title | slugify }}{% else %}{{ slug }}{% endif %}/index.html"
---
{% layout "default-layout" %}
{% block main %}
	<article>
		{%- if title -%}
		<header class="cmp-post-header">
			<h2  class="cmp-post-header__title">
				{{ title }}
			</h2>
			{%- if date -%}
			<p class="cmp-post-header__meta">
				<a href="{{ url }}"  class="cmp-post-header__permalink">
					<time datetime="{{ date | date: "%Y-%m-%d" }}">
						{{ date | date: "%d %B %Y" }}
					</time>
				</a>
			</p>
			{%- endif -%}
		</header>
		{%- endif -%}


		{{ content }}
	</article>
{% endblock %}
