---
layout-name: post
permalink: "/posts/{{ date | date: '%Y' }}/{{ date | date: '%m' }}/{{ date | date: '%d' }}/{% if title and title != '' %}{{ title | slugify }}{% else %}{{ slug }}{% endif %}/index.html"
---
{% layout "default-layout" %}

{%- capture props -%}
	{
		"title": "{{ title | unescape }}",
		"fontsize": "
{%- if title.size >= 90 -%}
60px
{%- elsif title.size >= 50 -%}
75px
{%- else -%}
90px
{%- endif -%}",
		"size": "{{ title.size }}"
	}
{%- endcapture -%}

{%- assign props = props | fromJson -%}

{%- block og -%}
	{%- if environment == 'production' %}
	{% ogImage "./og-image.og.liquid" props %}
	{%- endif -%}
	{%- if preview %}
	<meta property="og:description" content="{{preview | strip_html }}">
	{%- endif %}
{%- endblock -%}

{% block main %}
	<article>
		{%- if title -%}
		<header class="cmp-post-header">
			<h2  class="cmp-post-header__title">
				{{ title }}
			</h2>
			{%- if date -%}
			<p class="cmp-post-header__meta">
				<a href="{{ url }}"  class="cmp-post-header__permalink">
					<time datetime="{{ date | date: "%Y-%m-%d" }}">
						{{ date | date: "%d %B %Y" }}
					</time>
				</a>
			</p>
			{%- endif -%}
		</header>
		{%- endif -%}

		{% assign post_date = date | date: '%Y' %}
		{% if post_date < old_post_date %}
		<p class="cmp-notice"><strong class="cmp-notice__strong">Notice:</strong> This is an older post and may contain broken links, missing images, or outdated information.</p>
		{% endif %}

		{{ content }}
	</article>
{% endblock %}
